div {
    padding: 0;
}
body{
    height: 100vh;
    background-color: #005c61;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal; 
    color: var(--black_Color);
}

/* Font */
.active-section {
    background-image: linear-gradient(to right,rgb(15, 160, 159,0.8),rgba(255, 255, 255, 0.1));
}

.unactive-section {
    color: #55595b;
    font-weight: 500;

}

        /* App Block */
.app-block {
    margin: 3%;
    height: 94%;
    width: 94%;
}

        /* App SideBar */

.app_Sidebar {
    background-color: var(--block_Color);
    box-shadow: var(--shadow_Box);
}

.app_Sidebar_logo {
    flex: 1;
    
}

.app_Sidebar_Section {
    flex: 3;

}

.app_Sidebar_logout {
    flex: 1;

}


.section-item {
    display: flex;
    align-items: center;
    height: 12%;
    margin-bottom: 15px;
    width: 50%;
}



.section-title{
    padding-bottom: 5px;
    
}

.section-item-icon {
    margin: 0 15px 0 20px;
}






        /* Content */




/* Navbar */
.app_Content {
    display: flex;
    flex-direction: column;
}


.content_navbar {
    flex: 1.5;
}

.content_info {
    flex: 2;
}

.content_headingtasklist {
    flex:1;
}

.content_tasklist {
    flex: 5.5;
}


.content_navbar {
    display: flex;
}



.navbar_input {
    flex: 8;
    margin: 5% 15% 5% 0;
    border-radius: 20px;
    box-shadow: var(--shadow_Box);
    background-color: var(--block_Color);
    padding-top: 2px;
}


.navbar_input-box {
    display: block;
    position: absolute;
    transform: translateY(-30px);
    height: 30px;
    border: hidden;
    opacity: 0.1;
    margin-left: 30px;
    width: 290px;
    
}
.navbar_notify {
    flex: 1;
}

.navbar_setting {
    flex: 1;
}

.navbar_input-icon {
    margin-top: 10px;
    padding-right: 10px;
}


        /* Infomation */

.info_title {
    flex: 7;

}

.info_curtime {
    flex : 3;
}


.info_title_text  {
    flex: 1;
    box-sizing: border-box;
}

.info_title_addtaskbtn  {
    flex: 1;
}


.addtaskbtn-element {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 60%;
    width: 40%;
    border: 0;
    border-radius: 20px;
    background-image: var(--gradient_Color);
    color: white;
}


.info_curtime {
    background-color: var(--block_Color);
    box-shadow: var(--shadow_Box);
    border-radius: 30px;
}

.info_curtime-item {
    flex: 1;
    align-items: end;
}
.curtime_daymonye-item {
    flex: 1;
    text-align: center;
}

.curtime_weekday {
    text-align: center;
}





/* Tasklist */
.content_tasklist_weekday_item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.weekday_item {
    flex: 1;
    padding-top: 15%
}


.content_tasklist {
    display: flex;
    flex-direction: column;
    background-color: var(--block_Color);
    padding: 30px;
    box-shadow: var(--shadow_Box);
    border-radius: 20px;
}

.content_tasklist_weekday {
    flex: 3;
    display: flex;
}

.content_move-arrow {
    flex: 1;
}

.content_tasklist_schedule {
    flex: 6;
}

.hr-block {
    border-right: 1px black solid;
}

.tasklist_schedule-block {
    list-style-type: none;
}
.tasklist_schedule-item {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tasklist_schedule-item-time {
    flex: 1;
    text-align: center;
    background-color: var(--black_Color);
    color: var(--white_Color);
    height: 70%;
    border-radius: 10px;
}

.tasklist_schedule-item-description {
    flex: 5;
    padding-left: 10%;
    
}


.app_performance_profile {
    flex: 1.3;
    justify-content: center;
}


.app_performance_profile_avatar {
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.app_performance_calendar {
    flex: 3.5 ;
    background-color: var(--block_Color);
    box-shadow: var(--shadow_Box);
    border-radius: 20px;
}

.app_performance_headingpfm {
    flex: 0.7 ;
}

.app_performance_mypfm {
    flex: 4.3;
}



/* calender  */
.calendar_daylist {
   
}

.calendar_dayslist-day {
    list-style: none;
    display: inline-block;
    width: 12%;
    margin: 5px 0;
}

.app_performance_calendar_navtime {
    justify-content: space-around
}



.app_performance_mypfm {
    background-color: var(--block_Color);
    box-shadow: var(--shadow_Box);
    border-radius: 20px;
}



/* Performance */
.app_performance_mypfm_option {
    display: flex;
    justify-content: space-around;
}


.app_performance_mypfm {
    display: flex;
    flex-direction: column;
}

.app_performance_mypfm_option {
    flex: 2;
}

.app_performance_mypfm_info {
    flex: 2;

}

.app_performance_mypfm_details {
    flex: 6;

}
